@import "antd/dist/antd.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Open Sans, sans-serif;
}
#__next{
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

/* Toàn hệ thống */
.container {
  max-width: 1200px;
}
.ant-row{
  margin:  0 auto !important;
}

.title-heading {
  margin-bottom: 1.2rem;
  position: relative;
  padding-left: 1rem;
  margin-top: 20px;
  color: #f12f19;
  text-transform: uppercase;
  font-weight: bold;
}

.title-content {
  margin-bottom: 1.2rem;
  position: relative;
  padding-left: 1rem;
  color: #f12f19;
  text-transform: uppercase;
  font-weight: bold;
}

.title-heading a,
.title-content a {
  font-weight: bold;
  font-size: 1.2rsem;
  color: #f12f19;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fffdf9;
  position: relative;
  z-index: 9;
  padding-right: 1rem;
  line-height: 1;
}

.title-heading a:hover,
.title-content a:hover {
  color: #cb200c;
}

.title-heading::after,
.title-content::after {
  content: "";
  display: block;
  background: #f12f19;
  position: absolute;
  left: 0;
  top: 2px;
  width: 0.3rem;
  height: 2rem;
  z-index: 0;
  box-sizing: border-box;
}

/*  */
.bgMau-white {
  background-color: rgb(255, 255, 255);
  color: rgb(20, 19, 19);
}

.bgMau-black {
  background-color: rgb(36, 35, 35);
  color: rgb(255, 255, 255);
}

.bgMau-pink {
  background: linear-gradient(230deg,
      rgba(148, 148, 148, 0) 0%,
      rgba(255, 175, 241, 0.44611347957151615) 100%);
  color: black;
}

.bgMau-aqua {
  background: linear-gradient(180deg,
      rgba(148, 148, 148, 0) 0%,
      rgba(15, 254, 255, 0.6814075972185749) 700%);
  color: black;
}

.background-red {
  background-color: rgb(255, 42, 42);
}

.background-cyan {
  background-color: rgb(65, 233, 255);
}

/* định vị phần tử */
.center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.centerH {
  display: flex;
  align-items: center;
}

.centerB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.centerE {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.centerR {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Màu text gradient */

/* Cac className rut gon */

.fontS-10 {
  font-size: 10px;
}

.fontS-13 {
  font-size: 13px;
}

.fontS-14 {
  font-size: 14px;
}

.fontS-15 {
  font-size: 15px;
}

.fontS-16 {
  font-size: 16px;
}

.fontS-18 {
  font-size: 18px;
}

.fontS-20 {
  font-size: 20px;
}

.fontS-22 {
  font-size: 22px;
}

.fontS-25 {
  font-size: 25px;
}

.fontS-30 {
  font-size: 30px;
}

.fontS-35 {
  font-size: 35px;
}

.fontS-50 {
  font-size: 50px;
}

/* Font wi */
.fontW-400 {
  font-weight: 400;
}

.fontW-500 {
  font-weight: 500;
}

.fontW-600 {
  font-weight: 600;
}

.fontW-700 {
  font-weight: 700;
}

.fontW-800 {
  font-weight: 800;
}

.fontW-900 {
  font-weight: 900;
}

.fontW-1000 {
  font-weight: 1000;
}

/* border */
.boderR-4 {
  border-radius: 4px;
}

.boderR-7 {
  border-radius: 7px;
}

.boderR-10 {
  border-radius: 10px;
}

.boderR-15 {
  border-radius: 15px;
}

.boderR-40 {
  border-radius: 40%;
}

.boderR-50 {
  border-radius: 50%;
}

.boderR-60 {
  border-radius: 60%;
}

.boderR-100 {
  border-radius: 100%;
}

/* backfround hr */
.style-hr {
  height: 0.1px;
  background-color: rgba(128, 128, 128, 0.179);
}

.width-50 {
  width: 50%;
}

.width-80 {
  width: 80%;
}

.width-96 {
  width: 96%;
}

.width-100 {
  width: 100%;
}

/*  */
.height-20 {
  height: 20px;
}

.height-25 {
  height: 25px;
}

.height-30 {
  height: 30px;
}

.height-35 {
  height: 35px;
}

.height-40 {
  height: 40px;
}

.height-50 {
  height: 50px;
}

.height-60 {
  height: 60px;
}

.height-70 {
  height: 70px;
}

.height-80 {
  height: 80px;
}

.height-90 {
  height: 90px;
}

.height-100 {
  height: 100px;
}

.height-120 {
  height: 120px;
}

.height-150 {
  height: 150px;
}

.marginB-3 {
  margin-bottom: 3px;
}

.marginB-5 {
  margin-bottom: 5px;
}

.marginB-7 {
  margin-bottom: 7px;
}

.marginB-10 {
  margin-bottom: 10px;
}

.marginB-15 {
  margin-bottom: 15px;
}

.marginB-20 {
  margin-bottom: 20px;
}

.marginB-50 {
  margin-bottom: 50px;
}

.marginB-100 {
  margin-bottom: 100px;
}

.marginT-3 {
  margin-top: 3px;
}

.marginT-5 {
  margin-top: 5px;
}

.marginT-7 {
  margin-top: 7px;
}

.marginT-10 {
  margin-top: 10px;
}

.marginT-15 {
  margin-top: 15px;
}

.marginT-20 {
  margin-top: 20px;
}

.color-blue {
  color: rgb(38, 136, 255);
}

.textD-none {
  text-decoration: none;
}

.textDH-none:hover {
  text-decoration: underline;
}

/*  */
.cusor-p {
  cursor: pointer;
}

.cusor-d {
  cursor: no-drop;
}

/*  */
.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.pos-f {
  position: fixed;
}

/*  */
.color-white {
  color: white;
}

/* Định hình web */
.body {
  min-height: 100vh;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 20px;
}

.container-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

img,
iframe {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

iframe {
  object-fit: cover;
  width: 100%;
  height: 425px;
}

img:hover {
  /* transform: scale(1.01); */
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.new-card-item-hidden {
  overflow: hidden;
  height: 80%;
  width: 100%;
}

.new-card-item-hiddenfull {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.new-card-item-hiddenfull:hover img {
  transform: scale(1.2);

}

.new-card-item-hidden:hover img {
  transform: scale(1.2);

}

body {
  overflow-y: overlay;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  z-index: 1000000000;
  width: 13px;
  background-color: #f3f3f3;
}

body::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
  border-radius: 2px;
}

:root {
  --primary-background: #e6e6e6
}