@import "antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  background-color: white;
  color: black;
}

.body {
  padding: 150px 5px 20px 5px;
}

/* Toàn hệ thống */
.container {
  max-width: 1200px;
}

.title-heading {
  margin-bottom: 1.2rem;
  position: relative;
  padding-left: 1rem;
  margin-top: 5px;
  color: #f12f19;
  text-transform: uppercase;
  font-weight: bold;
}

.title-content {
  margin-bottom: 1.2rem;
  position: relative;
  padding-left: 1rem;
  color: #f12f19;
  text-transform: uppercase;
  font-weight: bold;
}

.title-heading a,
.title-content a {
  font-weight: bold;
  font-size: 1.2rsem;
  color: #f12f19;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fffdf9;
  position: relative;
  z-index: 9;
  padding-right: 1rem;
  line-height: 1;
}

.title-heading a:hover,
.title-content a:hover {
  color: #cb200c;
}

.title-heading::after,
.title-content::after {
  content: "";
  display: block;
  background: #f12f19;
  position: absolute;
  left: 0;
  top: 2px;
  width: 0.3rem;
  height: 2rem;
  z-index: 0;
  box-sizing: border-box;
}

/*  */
.bgMau-white {
  background-color: rgb(255, 255, 255);
  color: rgb(20, 19, 19);
}

.bgMau-black {
  background-color: rgb(36, 35, 35);
  color: rgb(255, 255, 255);
}

.bgMau-pink {
  background: linear-gradient(230deg,
      rgba(148, 148, 148, 0) 0%,
      rgba(255, 175, 241, 0.44611347957151615) 100%);
  color: black;
}

.bgMau-aqua {
  background: linear-gradient(180deg,
      rgba(148, 148, 148, 0) 0%,
      rgba(15, 254, 255, 0.6814075972185749) 700%);
  color: black;
}

.background-red {
  background-color: rgb(255, 42, 42);
}

.background-cyan {
  background-color: rgb(65, 233, 255);
}

/* định vị phần tử */
.center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.centerH {
  display: flex;
  align-items: center;
}

.centerB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.centerE {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.centerR {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Màu text gradient */

/* Cac className rut gon */

.fontS-10 {
  font-size: 10px;
}

.fontS-13 {
  font-size: 13px;
}

.fontS-14 {
  font-size: 14px;
}

.fontS-15 {
  font-size: 15px;
}

.fontS-16 {
  font-size: 16px;
}

.fontS-18 {
  font-size: 18px;
}

.fontS-20 {
  font-size: 20px;
}

.fontS-22 {
  font-size: 22px;
}

.fontS-25 {
  font-size: 25px;
}

.fontS-30 {
  font-size: 30px;
}

.fontS-35 {
  font-size: 35px;
}

.fontS-50 {
  font-size: 50px;
}

/* Font wi */
.fontW-400 {
  font-weight: 400;
}

.fontW-500 {
  font-weight: 500;
}

.fontW-600 {
  font-weight: 600;
}

.fontW-700 {
  font-weight: 700;
}

.fontW-800 {
  font-weight: 800;
}

.fontW-900 {
  font-weight: 900;
}

.fontW-1000 {
  font-weight: 1000;
}

/* border */
.boderR-4 {
  border-radius: 4px;
}

.boderR-7 {
  border-radius: 7px;
}

.boderR-10 {
  border-radius: 10px;
}

.boderR-15 {
  border-radius: 15px;
}

.boderR-40 {
  border-radius: 40%;
}

.boderR-50 {
  border-radius: 50%;
}

.boderR-60 {
  border-radius: 60%;
}

.boderR-100 {
  border-radius: 100%;
}

/* backfround hr */
.style-hr {
  height: 0.1px;
  background-color: rgba(128, 128, 128, 0.179);
}

.width-50 {
  width: 50%;
}

.width-80 {
  width: 80%;
}

.width-96 {
  width: 96%;
}

.width-100 {
  width: 100%;
}

/*  */
.height-20 {
  height: 20px;
}

.height-25 {
  height: 25px;
}

.height-30 {
  height: 30px;
}

.height-35 {
  height: 35px;
}

.height-40 {
  height: 40px;
}

.height-50 {
  height: 50px;
}

.height-60 {
  height: 60px;
}

.height-70 {
  height: 70px;
}

.height-80 {
  height: 80px;
}

.height-90 {
  height: 90px;
}

.height-100 {
  height: 100px;
}

.height-120 {
  height: 120px;
}

.height-150 {
  height: 150px;
}

.marginB-3 {
  margin-bottom: 3px;
}

.marginB-5 {
  margin-bottom: 5px;
}

.marginB-7 {
  margin-bottom: 7px;
}

.marginB-10 {
  margin-bottom: 10px;
}

.marginB-15 {
  margin-bottom: 15px;
}

.marginB-20 {
  margin-bottom: 20px;
}

.marginB-50 {
  margin-bottom: 50px;
}

.marginB-100 {
  margin-bottom: 100px;
}

.marginT-3 {
  margin-top: 3px;
}

.marginT-5 {
  margin-top: 5px;
}

.marginT-7 {
  margin-top: 7px;
}

.marginT-10 {
  margin-top: 10px;
}

.marginT-15 {
  margin-top: 15px;
}

.marginT-20 {
  margin-top: 20px;
}

.color-blue {
  color: rgb(38, 136, 255);
}

.textD-none {
  text-decoration: none;
}

.textDH-none:hover {
  text-decoration: underline;
}

.maxW-40 {
  max-width: 40px;
}

.maxW-30 {
  max-width: 30px;
}

.maxW-80 {
  max-width: 80px;
}

.maxW-100 {
  max-width: 100px;
}

/*  */
.cusor-p {
  cursor: pointer;
}

.cusor-d {
  cursor: no-drop;
}

/*  */
.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.pos-f {
  position: fixed;
}

/*  */
.color-white {
  color: white;
}

/* Định hình web */
.body {
  min-height: 100vh;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 20px;
}

.container-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

img,
iframe {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

iframe {
  object-fit: cover;
  width: 100%;
  height: 425px;
}

img:hover {
  /* transform: scale(1.01); */
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.new-card-item-hidden {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.ant-row {
  margin: auto !important;
}

.new-card-item-hiddenfull {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.new-card-item-hiddenfull:hover img {
  transform: scale(1.2);
}

.new-card-item-hidden:hover img {
  transform: scale(1.2);
}

body {
  overflow-y: overlay;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  z-index: 1000000000;
  width: 13px;
  background-color: #f3f3f3;
}

body::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
  border-radius: 2px;
}

:root {
  --primary-background: #e6e6e6;
}

.schedule-style {
  width: 100%;
  display: flex;
  gap: 20px;

}

.schedule-style-left {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.schedule-style-right {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.schedule-style-right-accept {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(128, 128, 128, 0.249);
  display: flex;
  align-items: center;
  padding: 0px 10px;
  font-weight: 600;
  font-size: 14px;
  color: #f12f19;
}

.schedule-style-right-accept-ml {
  justify-content: space-between;
  margin-top: 10px;
}

.schedule-style-right-accept-ml svg {
  fill: gray !important;
  font-size: 20px;
}

.schedule-style-right-list {
  width: 100%;
  min-height: 300px;
  border-left: 1px solid rgba(128, 128, 128, 0.249);
  border-right: 1px solid rgba(128, 128, 128, 0.249);
  border-bottom: 1px solid rgba(128, 128, 128, 0.249);
}

.schedule-style-left-week {
  width: 100%;
  height: 60px;
  border: 1px solid rgba(128, 128, 128, 0.249);
}

.detail-schedule-style-left-week {
  width: 100%;
  min-height: 60px;
  color: #6b5134;
  font-size: 12px;
}

.detail-schedule-style-left-week .link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.detail-schedule-style-left-week .menu-nav .menu-item {
  display: flex;
  align-items: center;
}

.detail-schedule-style-left-week .menu-nav .menu-item span:first-child {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  color: rgb(97, 97, 207);
  font-weight: bold;
  font-size: 16px;
}

.detail-schedule-style-left-week .menu-nav .menu-item span:last-child {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #6b5134;
  font-size: 15px;
}


.schedule-style-left-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(128, 128, 128, 0.249);
  margin-top: 10px;
  padding: 0px 60px;
  position: relative;

}

.detail-schedule-style-left-input {
  width: 100%;
  min-height: 300px;
  border: 1px solid rgba(128, 128, 128, 0.249);
  margin-top: 10px;
  padding: 0px 60px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.detail-schedule-style-left-input .item-develop {
  width: 100%;
  height: 100%;
}

.detail-schedule-style-left-input .item-develop .title {
  position: absolute;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(7, 53, 53);
  font-weight: 600;
  font-size: 15px;
  background-color: #929fb3;
}

.detail-schedule-style-left-input .item-develop .m-title {
  margin-top: 50px;
  text-align: center;
  color: blue;
}

.detail-schedule-style-left-input .item-develop .develop {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.slider-staff {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.teammmm {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.detail-schedule-style-left-input .item-develop .develop .develop-item {
  display: flex;
  flex-direction: column;
  min-height: 70px;
}

.t-item {
  display: flex;
  margin-right: 10px;
}

.t-title {
  display: flex;
  flex-direction: column;
  margin-right: 20px;

}

.t-title-r {
  display: flex;
  flex-direction: column;
  margin-left: 20px;

}


.detail-schedule-style-left-input .teamOne {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.detail-schedule-style-left-input .teamOne .parameter-total {
  font-variant: small-caps;
  font-size: 15px;
  color: #6b5134;
  font-weight: bold;
}


.detail-schedule-style-left-input .teamOne .team .title {
  display: flex;
  color: #6b5134;
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0px;

}

.detail-schedule-style-left-input .teamOne .team .card {
  display: flex;
  color: #6b5134;
  border-radius: 5px;
  justify-content: flex-end;
  align-items: center;
  font-weight: 600;
  height: 30px;
}

.detail-schedule-style-left-input .teamOne .team .card .it-card {
  display: flex;
  color: #3b342b;
  background-color: goldenrod;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 15px;
  margin-right: 15px;

}

.detail-schedule-style-left-input .teamOne .team .item-info {
  height: 100px;
  overflow-y: scroll;
  margin: 5px 0px;
}

.detail-schedule-style-left-input .teamOne .team .item-info::-webkit-scrollbar {
  background: none;
  width: 5px;

}

.detail-schedule-style-left-input .teamOne .team .item-info::-webkit-scrollbar-thumb {
  width: 5px;
  background: #d7d7d7;
  border-radius: 15px;
}

.detail-schedule-style-left-input .teamOne .team .info {
  display: flex;
  margin: 5px 0px;

}

.detail-schedule-style-left-input .teamOne .team .info svg {
  margin: 0px 10px;

}

.detail-schedule-style-left-input .teamOne .team .title img {
  margin: 0px 10px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  object-fit: cover;
}

.detail-schedule-style-left-input .teamOne .total {
  width: 100px;
  height: 60px;
  background-color: rgba(95, 158, 160, 0.479);
  color: #6b5134;
  font-size: 17px;
  font-weight: 600;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-schedule-style-left-input .teamOne .total-footer {
  color: #6b5134;
  font-weight: 600;
}

.schedule-style-left-input input {
  width: 100%;
  height: 100%;
  outline: none;
  font-style: italic;
  display: flex;
  align-items: center;
  border: none;
}

.schedule-style-left-input-svg {
  width: 60px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.schedule-style-left-input-svg svg {
  font-size: 20px;
  color: grey;
}

.schedule-style-left-match {
  width: 100%;
  min-height: 50px;
  border: 1px solid rgba(128, 128, 128, 0.249);
  border-radius: 5px 5px 1px 1px;
  margin-top: 15px;
}

.schedule-style-left-match-label {
  height: 46px;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(128, 128, 128, 0.144);
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 700;
  justify-content: space-between;
  padding: 0px 15px;
}

.schedule-style-left-match-label div {
  width: 100%;
}

.schedule-style-left-match-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 15px 15px 15px;
  gap: 8px;
}

.schedule-style-left-match-list-item {
  width: 100%;
  min-height: 70px;
  border-radius: 5px;
  background-color: rgba(221, 226, 226, 0.34);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  gap: 20px;
}

.schedule-style-left-match-list-item:hover {
  background-color: rgba(208, 255, 255, 0.178);
  box-shadow: 0px 0px 3px 0.1px rgba(128, 128, 128, 0.516);
}

.schedule-style-left-div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.schedule-style-left-list-match {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.schedule-style-left-list-match-item {
  width: 100%;
  display: flex;
  align-items: center;
  height: 30px;
  gap: 20px;
}

.schedule-style-left-list-match-item img {
  width: 25px;
  height: 25px;
}


@media (max-width: 800px) {
  .schedule-style {
    display: flex;
    flex-direction: column;
    zoom: 0.8;
  }

  .detail-schedule-style-left-input {}

  .schedule-style-left {
    width: 100%;
  }

  .schedule-style-right {
    max-width: 100%;
  }
}